<h1>Welcome#hello</h1>
<p>Find me in app/views/welcome/hello.html.erb</p>


<!-- NavBar Contents -->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <ul>
        <li> <%= link_to "About Us", root_url.chomp("/") + "#aboutUs" %> </li>
        <li> <%= link_to "Get in touch", root_url.chomp("/") + "#getInTouch" %> </li>
        <li> <%= link_to "Our Services", root_url.chomp("/") + "#services" %> </li>
    </ul>
</div>
</nav>

<!-- Welcome Page Hellow view Content -->
<center><h1>Welcome to the EAP</h1>
<h2> We are people who are the EAP </h2><br/>

EAP? What EAP?<br/>
EAP’s are free and confidential referral and consultation services which are offered through
an employer’s human resources department.<br/><br/>

<h5>Disclaimer: Each EAP (the good ones) also has a website that provides you with information about wellness (like us)</h5></center>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- EO Hello View -->

<!-- Beginning Contents for About Us and Services and Contact Us -->

<!-- About Us -->
<div id="WelcomePage">
<a id="aboutUs" class="smooth"></a>
<div class= "page-header">
    <h1>About Us</h1><small> We are a small team of X people with XX years of experience in the fields of HR, IT and Business Administration. The combination of the 3 is enough for a good enterprise, and what makes it most suitable for an EAP is the presence of our uniqu panel of Doctor-experts, who give the true touch for being the EAP we are today.</small>
</div>
<ul class="list-group">
     <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Counselling Benefits</h4>
        <p class="list-group-item-text">Help with personal issues from relationships to stress and substance abuse.</p>
    </li>
*    <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Work/ Life Benefits</h4>
        <p class="list-group-item-text">Assistance for other personal, financial and legal issues.</p>
    </li>
*    <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Information resource benefits</h4>
        <p class="list-group-item-text">Access a vast collection of self-help tools and articles.</p>
    </li>
*     <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading"> Lifestyle benefits</h4>
        <p class="list-group-item-text">Discounts to help with fitness, nutrition and weight management.</p>
    </li>
*    <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading"> Personal development benefits</h4>
        <p class="list-group-item-text">Help balancing your work, life and career.</p>
    </li>
*    <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Wellness benefits</h4>
        <p class="list-group-item-text">Information and resources to improve your overall wellness</p>
    </li>
*    <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Legal Services</h4>
        <p class="list-group-item-text">Blah blee blue bleh</p>
    </li>
*    <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Concierge Services</h4>
        <p class="list-group-item-text">Blah blee blue bleh </p>
    </li>
</div>

<!-- Work/ Life Benfits -->

<h1>Work/ Life Benefits</h1>
<p> 
Assistance for other personal, family, financial, and legal issues is available. We offer a broad range of solutions for your everyday work/ life problems. These include (and not limited to):
<ul>
	<li>Debt counselling and restructuring</li>
	<li>Legal problems not related to employment or medical concerns</li>
	<li>Child care and elder care assistance</li>
	<li>Financial information</li>
	<li>Caregiver help and resources</li>
	<li>Real estate and tenant/landlord concerns</li>
	<li>Interpersonal skills with family and co-workers</li>
	<li>Pet Help Center</li>
	<li>Online Wellness Center</li>
</ul></p>

<!---------------------------------------------------------------------------------------------------------------- -->

<!-- COUNSELLING BENEFITS -->
<h1> Counselling Benfits </h1>
<p>
Many complex issues are best resolved with counselling assistance from a behavioural health professional. You will want to consider calling for help if you encounter problems such as (not a comprehensive list, we may include services not listed here):
<ul>
	<li>Relationship and family issues</li>
	<li>Depression, stress, or anxiety</li>
	<li>Grief or loss of a loved one</li>
	<li>Eating disorders or substance abuse</li>
	<li>Workplace difficulties</li>
</ul>
When you call, you connect immediately with a counsellor. Each of our experienced counsellors has a Masters or Ph.D. level of training. Should you need to be referred to a local counsellor for personal visits, we have more than 125 providers available in Bangalore and close to 1200 Psychologists across India to ensure that you will have a counsellor near your home or workplace.
</p>

<!---------------------------------------------------------------------------------------------------------------- -->

<!-- INFORMATION RESOURCE BENEFITS -->
<h1> Information resource Benfits </h1>
<p>
Sometimes the best solution to a problem comes from finding the right information. That’s why we have created Information Resources — a vast collection of thousands of self-help tools and informative articles that covers virtually every problem you might face. You can call or log on to the website to access these benefits. Some of the resources available include: 
<ul>
	<li>Behavioural Health - information covering everything from alcohol abuse to personal stress</li>
	<li>Financial - articles, tools and information to help with virtually every financial question</li>
	<li>Legal Information - topics ranging from adoption to wills</li>
	<li>Tools for Tough Times - resources to assist with difficult financial issues.</li>
</ul>
</p>

<!---------------------------------------------------------------------------------------------------------------- -->

<!-- LIFESTYLE BENEFITS -->
<h1> Lifestyle Benefits </h1>
<p> Your Lifestyle Benefits include discounts to help you enhance your quality of life. Call or check the website for nutrition, fitness and weight loss discounts. </p>

<!---------------------------------------------------------------------------------------------------------------- -->

<!-- CAREER DEVELOPMENT AND TRAINING BENEFITS -->
<h1> Career Development & Training Benefits </h1>
<p>
Our online training and resources help with personal growth. Also if you are a supervisor or hope to become one, we offer an entire online supervisory training resource. You can balance your work, life and career objectives with the help of tutorials, exercises and worksheets.
</p>

<!---------------------------------------------------------------------------------------------------------------- -->

<!-- WELLNESS BENEFITS -->
<h1> Wellness benefits </h1>
<p>
The EAP wellness benefit allows you to access information and resources to improve you and your family’s overall wellness including substance/alcohol abuse, stress reduction, fitness, and diet and smoking cessation.
</p>
</div>
<!---------------------------------------------------------------------------------------------------------------- -->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Services -->
<!-- Start of Services Div!!! -->
<div id="WelcomePage">
<a id="services" class="smooth"></a>
** Partial List **
<!------------------------------------------------------------------------------------------->
<p>
<h1> Telephonic Councelling </h1>
<ul>
	<li>Telephonic Counselling is available 24/7 with Masters and Ph.D. clinical counsellors who provide in-the-moment Counselling and referral to local resources.</li>
	<li>All employees and their immediate family members are eligible for telephonic Counselling and short-term, in-person counselling.</li>
	<li>Immediate family members are defined as spouse, children, life partner, or anyone who lives with the employee.</li>
	<li>Dependent children between ages 14 and age 22 are also covered.</li>
</ul>
</p>
<!------------------------------------------------------------------------------------------->
<p>
<h1>Personal Counselling</h1>
<ul>
	<li>All counselling services start with a phone call or an online click 24 hours a day, 7 days a week. Experienced counsellors–not call centre staff–provide immediate help.</li>
	<li>These Masters and Ph.D. level clinical counsellors help assess your problems and issues.</li>
	<li>Often, they can resolve the issues, but if not, they will refer you to face-to-face counselling with a local counsellor for additional help.</li>
	<li>We’ve built a referral network of more than 125 private practice providers located in Bangalore and close to 1200 Psychologists across India to supplement our proprietary counselling services.</li>
	<li>In addition, our Member website offers private access to thousands of articles, assessments, videos, and information resources.</li>
</ul>
</p>
<!------------------------------------------------------------------------------------------->
<p>
<h1>Caregiver Benefits - For Elder and Children Home Care Needs</h1>
<ul>
	<li>Caregiving can be one of life’s most challenging issues.</li>
	<li>With Caregiver Benefits, Members can access counsellors with special training to get help finding local resources and information on medical and home care needs.</li>
</ul>
</p>
<!------------------------------------------------------------------------------------------->

<p>
<h1>Personal Development</h1>
<ul>
	<li>The Personal Development Program is designed to help employees balance their work and personal life. Offering tutorials, exercises and worksheets, the program helps employees assess personal skills, objectives and goals.</li>
	</li>In addition, there are over 50 training modules that help employees develop their skills in a host of work and life areas.</li>
</ul>
</p>
<!------------------------------------------------------------------------------------------->

<p>
<h1> Wellness Center </h1>
<ul>
	<li>The Wellness Resource Center contains the latest, most reliable articles, videos and self- assessments for dealing with stress, diet, fitness and smoking. </li>
	<li>As employees increase their knowledge and understanding of these topics, they can greatly reduce their health risks and increase their overall wellbeing. </li>
	<li>All employees of the organization and their immediate family members are eligible to utilize these valuable resources.</li>
</ul>
</p>
<!------------------------------------------------------------------------------------------->
<p>
<h1> Peak Performance Wellness Coaching </h1>
Employees engaging with a Wellness Coach improve their health and ultimately reduce health care costs. 

Almost two-thirds of Members who engage with a Coach ultimately reach their wellness goals.

<ul>
	<li>One-on-one coaching and counselling from an integrated team of coaches and clinicians</li>
	<li>Coaching for Fitness, Nutrition, Weight Loss, Stress, Tobacco Cessation and Drugs & Alcohol</li>
	<li>Frequent messages via our Automated Digital Communication System to create employee awareness of behavioural health risks</li>
</ul>
</p>
<!------------------------------------------------------------------------------------------->
<p>
<h1>Work/ Life Benefits</h1>
Juggling work with the demands of family and personal issues can be difficult. With our Work/Life Benefits, employees can access help and expert resources to address the challenges and concerns of daily living. 

Some of the most common Work/Life issues that our Members face are:

<ul>
	<li>Child care and day-care</li>
	<li>Aging issues and elder care</li>
	<li>Health and wellness</li>
	<li>Legal problems and family law</li>
	<li>Debt and debt restructuring</li>
	<li>Financial planning</li>
	<li>Education and tuition planning</li>
	<li>Real estate and tenant/landlord concerns</li>
	<li>Estate planning, probate and wills</li>
</ul>
</p>
<!-- EO Services Div!!! -->
</div>
<!------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Contact us -->

