@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 2px;
background-color: #91ad75;
font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica,
sans-serif;
}
.navbar-brand {
a {
color: #125688;
}
}

.jumbotron
{
  background-color: #3d3d3d;
  color: #ffffff;
}

.navbar-default 
{
background-color: #233156;
height: 54px;
.navbar-nav li a 
{
color: #ffffff;
}
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}